<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Admin panelė</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="panel-wrapper form-container">
        <h2>Vartotojų sąrašas</h2>

        {% if users|length == 0 %}
        <p>Nėra užsiregistravusių vartotojų.</p>
        {% else %}
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vartotojo vardas</th>
                    <th>El. paštas</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
