<!-- order_history_dates.html -->
<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Užsakymų istorija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>🧾 Užsakymų istorija</h1>
        <p>Rodyti žetakymus pagal datą:</p>
        <ul>
            {% for date in order_dates %}
            <li>
                <strong>{{ date }}</strong>
                <a href="/order-history/{{ date }}" class="btn small-btn">📂 Peržiūrėti</a>
            </li>
            {% endfor %}
        </ul>

        <a href="/menu" class="btn">🔙 Grįžti į meniu</a>
    </div>
</body>
</html>
